{% extends "layout.html" %}
{% block content %}
    {% block intro %}
    <p><em>Infuse (in·fuse)</em> is a recommendation system that aims to suggest web content you would fancy. It is able to discover the different contexts you are in when browsing and use them to provide better recommendations, based on people sharing interests with you.</p>
    <p>Infuse is a part of my <acronym title="Master of Sciences">MSc</acronym> thesis project, <em>"building a context-aware recommender for the web"</em>.</p>
    {% endblock %}

        {% block highlight %}
    <div class="highlight">
        <div id="register-embedded">{% include("register_form.html") %}</div>
        <h2>You can help!</h2>
        <p>A recommendation system eats data, a lot of data. I'm looking for people willing to share data about their daily browsing usage. If you want to help, this is as simple as registering an account and <a href="https://addons.mozilla.org/en-US/firefox/addon/infuse-help-me-to-gather-da/">downloading the firefox addon</a>.</p>
        <p>This data will <strong>only be used for research purposes</strong>. The firefox plugin have an option to deactivate it anytime you want if you don't want your data to be sent to me</p>
    </div>
        {% endblock %}

    <h2>Your data remains yours</h2>
    <p>The data you send me is stored in closed rooms with pillows and will <strong>never</strong> be used for any other purposes than research. I will not sell or give this data to anyone, even if they look friendly and have some good-smelling chocolate cookies.</p>
    
    <h2>Under the hood</h2>
    <img id="under-the-hood-picture" src="{{ url_for('static', filename='under-the-hood.png') }}"/>
    <p>This recommendation system feeds on browsing information such as a) the time you spend visiting websites, b) the number of times you visit them, c) the hours you visit them and d) your geographical location. It then group people with similar interests together and provides you suggestions about the websites you may like, considering the one you already liked in the past. You can read more about this project <a href="http://blog.notmyidea.org">on my weblog</a></p>
    <p>To do so, I'm mainly using machine learning algorithms and text retrieval techniques. Here is the set of tools I'm using: The <a href="http://flask.pocoo.org">Flask framework</a> to serve those pages (assisted by <a href="http://haproxy.1wt.eu/">haproxy</a>, <a href="http://www.nginx.org">nginx</a> and <a href="http://www.gunicorn.org">gunicorn</a>), the awesome <a href="https://jetpack.mozillalabs.com/sdk/1.0b5/docs/">jetpack sdk</a> to make firefox extensions, the <a href="http://www.mongodb.org">MongoDB</a> database to store data and the <a href="http://scikit-learn.sourceforge.org">scikits.learn</a> to extract text features and compute recommendations</p>
    
    <h2>Free beers / Free speech</h2>
    <p>All the code I'm writting for this project is freely available <a href="http://github.com/ametaireau">on my github page</a> under a BSD license. This means you can have a look at the internals and even base your work on this if you find it useful.</p>
{% endblock %}
